body{
  font-family: sans-serif;
}

#main-task-header{
  text-align: center;
}

.devider{
  background-color: #ccc;
  width: 1px;
  min-height: 200px;
  height: 100%
}

.container-codesample{
  padding-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}

#main-header{
  font-size: 30px;
  font-family: sans-serif;
}
