#main-task-header{text-align:center}.devider{height:100%;min-height:200px;width:1px;background-color:#ccc}.container-codesample{justify-content:space-around;display:flex;padding-top:50px}#main-header{font-family:sans-serif;font-size:30px}